* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url(images/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 0 7%;
  position: relative;
}
nav ul li {
  display: inline;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  letter-spacing: 1px;
}
.text-box {
  margin-top: 16%;
  font-size: 22px;
  color: black;
}
.text-box h1 {
  font-size: 85px;
  font-weight: 600;
  line-height: 100px;
  margin-bottom: 10px;
  color: rgb(8, 0, 0);
}
.form {
  position: relative;
  background-color: #fff;
  max-width: 360px;
  margin: 0px auto 100px;
  padding: 45px;
  text-align: center;
}
